<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout}">
<body>
<div layout:fragment="content">
    <h2>Hi <span th:text="${name}">User</span>!</h2>
    <p>Your order with ID <strong th:text="${orderId}">123</strong> has been successfully completed.</p>
    <p>Thank you for your trust in our platform!</p>
    <p><a th:href="${baseUrl} + '/dashboard/orders'">View Order</a></p>
</div>
</body>
</html>
