<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" th:replace="~{fragments/layout :: content}">
<body>
<div>
  <h2>Sorry, <span th:text="${name}">User</span></h2>
  <p>Unfortunately your profile was <strong>rejected</strong> for the following reason:</p>
  <blockquote th:text="${reason}">Reason here</blockquote>
  <p>You can try to apply one more time!</p>
  <p>Here are some quick links to try again:</p>
  <ul>
    <li><a th:href="@{${baseUrl}/client-verification}">Register yourself as client and start search and order available services</a></li>
    <li><a th:href="@{${baseUrl}/freelancer-verification}">Register yourself as freelancer and start offer your services to clients</a></li>
  </ul>
</div>
</body>
</html>
